* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px 0;
    background: rgb(8, 61, 104);
    color: azure;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 24px;
}

header nav li a {
    color: azure;
    text-decoration: none;
}

div.container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}

header div.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}